.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.whole-width{
	width:100%;
}

.mtl{
	margin-top: 30px;
}
.mll{
	margin-left: 30px;
}

.mrl{
	margin-right: 30px;
}

.avatar-img{
	height: 150px;
	width: 150px;
}

.pointer{
	cursor: pointer;
}